@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-container {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* iOS üzerinde daha yumuşak kaydırma sağlar */
}

.container {
  
}

.container button {
  display: none;
}

.container:hover button {
  display: block;
}